<nb-layout>
  <nb-layout-header fixed>
    <button nbButton ghost status="info" size="tiny" (click)="toggle()">
      <nb-icon icon="menu" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
    </button>
    <h1 class="home-app-name">Udao translate</h1>
    <span class="toolbar-spacer"></span>
    <a class="github-button" href="https://github.com/OrangeXC/udao">
      <nb-icon icon="github" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
    </a>
  </nb-layout-header>

  <nb-sidebar tag="left" state="expanded" [fixed]="isSidebarFixed">
    <nb-menu [items]="menuList">
    </nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <ngx-loading-bar [color]="'#ff4081'" [includeSpinner]="false"></ngx-loading-bar>
</nb-layout>
