<ngb-tabset>
  <ngb-tab title="网络释义" *ngIf="webTrans">
    <ng-template ngbTabContent>
      <ngb-accordion *ngIf="webTrans.length" activeIds="static-0">
        <ngb-panel *ngFor="let item of webTrans[0].trans; index as i" ngf id="static-{{i}}" title="{{item.value}}">
          <ng-template ngbPanelContent>
            <span [innerHTML]="item.summary.line[0]"></span>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <div class="mt-3" *ngIf="webTrans.length">
        <h5>短语</h5>
        <ng-template ngFor let-item [ngForOf]="webTrans" let-index="index">
          <p *ngIf="index > 0">
            <a class="mr-2" [routerLink]="['/detail', item.key]">{{ item.key }}</a>
            <ng-template ngFor let-trans [ngForOf]="item.trans" let-i="index">
              {{ trans.value }}<ng-template [ngIf]="item.trans.length !== i + 1">；</ng-template>
            </ng-template>
          </p>
        </ng-template>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="专业释义" *ngIf="special">
    <ng-template ngbTabContent>
      <ngb-tabset type="pills">
        <ng-template ngFor let-item [ngForOf]="special.entries" let-i="index">
          <ngb-tab class="mt-3" title="{{ item.entry.major }}">
            <ng-template ngbTabContent>
              <ng-template ngFor let-trItem [ngForOf]="item.entry.trs">
                <h6>{{ trItem.tr.nat }}<small class="text-muted" *ngIf="trItem.tr.cite !== '0'">- 引用次数：{{ trItem.tr.cite }}</small></h6>
                <p [innerHTML]="trItem.tr.engSent"></p>
                <p [innerHTML]="trItem.tr.chnSent"></p>
                <small *ngIf="trItem.tr.docTitle">参考来源 - {{ trItem.tr.docTitle }}</small>
              </ng-template>
            </ng-template>
          </ngb-tab>
        </ng-template>
      </ngb-tabset>
      <small class="text-muted">
        ·{{ special.summary.text }}
        <a href="{{ special.summary.sources.source.url }}" target="_blank">
          {{ special.summary.sources.source.site }}
        </a>
      </small>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="英英释义" *ngIf="ee">
    <ng-template ngbTabContent>
      <h6>{{ ee.word.speech }} <span class="text-muted" *ngIf="ee.word.phone">[{{ ee.word.phone }}]</span></h6>
      <ng-template ngFor let-item [ngForOf]="ee.word.trs">
        <p>{{ item.pos }}</p>
        <ol>
          <li *ngFor="let tr of item.tr">
            <p>{{ tr.l.i }}</p>
            <p class="text-muted font-italic" *ngIf="tr.exam">
              <ng-template ngFor let-exam [ngForOf]="tr.exam.i.f.l" let-i="index">
                {{ exam.i }}<ng-template [ngIf]="tr.exam.i.f.l.length !== i + 1">;</ng-template>
              </ng-template>
            </p>
            <p class="text-muted" *ngIf="tr['similar-words']">
              同义词：
              <ng-template ngFor let-word [ngForOf]="tr['similar-words']">
                <a [routerLink]="['/detail', word.similar]">{{ word.similar }}</a>
              </ng-template>
            </p>
          </li>
        </ol>
      </ng-template>
      <small class="text-muted">
        以上来源于:
        <a href="{{ ee.source.url }}" target="_blank">
          {{ ee.source.name }}
        </a>
      </small>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
