<mat-tab-group [dynamicHeight]="true">
  <mat-tab label="双语例句" *ngIf="blngSentsPart && blngSentsPart.length">
    <ol>
      <li *ngFor="let item of blngSentsPart">
        <p [innerHTML]="item['sentence-eng']"></p>
        <p>{{ item['sentence-translation'] }}</p>
        <p class="text-muted"><small>{{ item.source }}</small></p>
      </li>
    </ol>
  </mat-tab>
  <mat-tab label="原声例句" *ngIf="mediaSentsPart && mediaSentsPart.length">
    <ol>
      <li *ngFor="let item of mediaSentsPart">
        <p [innerHTML]="item.eng"></p>
        <p class="text-muted">
          <a *ngIf="item.snippets.snippet[0].sourceUrl" href="{{ item.snippets.snippet[0].sourceUrl }}" target="_blank">
            <small class="text-muted">{{ item.snippets.snippet[0].source }} {{ item.snippets.snippet[0].name }}</small>
          </a>
          <small *ngIf="!item.snippets.snippet[0].sourceUrl">{{ item.snippets.snippet[0].source }} {{ item.snippets.snippet[0].name }}</small>
        </p>
      </li>
    </ol>
  </mat-tab>
  <mat-tab label="权威例句" *ngIf="authSentsPart && authSentsPart.length">
    <ol>
      <li *ngFor="let item of authSentsPart">
        <p [innerHTML]="item.foreign"></p>
        <p class="text-muted"><small [innerHTML]="item.source"></small></p>
      </li>
    </ol>
  </mat-tab>
</mat-tab-group>
