<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">
    <img src="./../../assets/brand/youdao.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
    有道词典
  </a>
  <button class="navbar-toggler"
    type="button"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav" (click)="isCollapsed = !isCollapsed">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">主页</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/translate" routerLinkActive="active">翻译</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search" routerLinkActive="active">搜索</a>
      </li>
    </ul>
  </div>
</nav>
