<nb-card>
  <nb-card-body>
    <textarea class="text-area" type="search" nbInput fullWidth placeholder="目前只支持英译汉" [(ngModel)]="searchText" (keyup.enter)="onEnter()"></textarea>
  </nb-card-body>
</nb-card>
<nb-card *ngIf="isResultShow" [nbSpinner]="isLoading" nbSpinnerStatus="primary">
  <nb-card-body>
    <div *ngIf="query">
      <h3>{{ query }}</h3>
      <div *ngIf="translation.length">
        <h5>翻译</h5>
        <nb-list>
          <nb-list-item *ngFor="let item of translation">{{ item }}</nb-list-item>
        </nb-list>
      </div>
      <div *ngIf="explains.length">
        <h5>解释</h5>
        <nb-list>
          <nb-list-item *ngFor="let item of explains">{{ item }}</nb-list-item>
        </nb-list>
      </div>
      <div *ngIf="web.length">
        <h5>网络</h5>
        <nb-list>
          <nb-list-item *ngFor="let item of web">
            <h6>{{ item.key }}</h6>
            <p>{{ item.value.join(', ') }}</p>
          </nb-list-item>
        </nb-list>
      </div>
      <p>
        <a [routerLink]="['/detail', query]">更多 >></a>
      </p>
    </div>
    <p *ngIf="!query">正在查询</p>
  </nb-card-body>
</nb-card>

