/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.main-content {
  max-width: 980px;
  margin: 0 auto;
  padding: 10px;
}

.text-muted {
  color: #868e96;
}

.text-danger {
  color: #dc3545;
}

.text-success {
  color: #28a745;
}
