/* You can add global styles to this file, and also import other style files */

@import "https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css";

body {
  padding-top: 80px;
}

.starter-template {
   padding: 3rem 1.5rem;
   text-align: center;
}

.tab-content {
  margin-top: 10px;
}
